{% extends "base.html" %}
{% load static from staticfiles %}

{% load bootstrap_tags %}


{% block content %}

    <div class="container">
        <div class="col-md-offset-2 col-md-7 col-md-offset-3">
            <h1> Book your Appointment here </h1>

            <form role="form" method="post" id="booking-form" action="{% url 'checkout' %}">
             {{ booking_form|as_bootstrap }}




             <!--The Doctor is {{doctor.name}}<br>-->
             <!--The Doctor description is {{doctor.description}}<br>-->
             <!--The Doctor location {{doctor.location}}<br>-->
             <!--The Doctor price {{doctor.price}}<br>-->
             <!--The User is {{doctor.user}}-->

            </form>

             <td>
                 <a href="{% url 'checkout' doctor.id %}" type="submit" class="btn btn-primary">Submit Booking</a>
            </td>
        </div>
    </div>





{% endblock %}