{% extends "base.html" %}
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block content %}

    <div class="container">
            <div class='mainpage'>
            <h4><em> Where Doctors & Patients connect </em></h4>
            <h2> <strong> Book your appointment online</strong></h2>

            <form action="{% url 'search' %}" method="get" style="margin: 10" id="search_light">
                <input id ="search_box" type='text' name="search_box" style="width:550px; height: 50px;" placeholder="Search Clinic, Doctor, Location... ">

            </form>
            </div>
    </div>




{% endblock %}

