
{% extends "base.html" %}
{% load bootstrap_tags %}

    {% block content %}


 <div class="container">
    <div class="row">
        <div class="col-md-6">
            <center> <p> <br> Haven't got an account yet? </p>
                       <h2> Simply register with us as </h2>

                <button class="social-signin facebook">PATIENT </button>
                <button class="social-signin twitter">DOCTOR</button>
                <button class="social-signin google">MEDICAL PRACTICE</button>

            </center>
        </div>

            <div class='mainpage'>
                <div class="row">
                    <div class="col-md-6">
<center>


                        <form method ="POST", enctype="multipart/form-data">

                            {% csrf_token %}

                            {{ form | as_bootstrap }}

                            <hr>

                            {{ typeForm | as_bootstrap }}

                            <button type="submit"  class="btn btn-primary"> Register </button>

                        </form>
</center>

                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}