{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

    <div class="container">
        <div class='row'>
            <div class='col-md-offset-1 col-md-11'>
                <form action="{% url 'search' %}" method="get" style="margin: 10" id="search_light">
                    <input id ="search_box" type='text' name="search_box" style="width:500px; height: 30px;" placeholder="Search Clinic, Doctor, Location... ">
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>


    </div>

<div class="row">

    <div class="col-md-offset-1, col-md-5">
    <!--<img height="500" width="500" src="{{ MEDIA_URL }}{{ clinic.image }}">-->
    </div>
    <div class="col-md-6">
    <h1>{{ clinic.name }}</h1>

     <p>{{ clinic.address }}</p>
     </div>

</div>

<div class="row">
    <div class="col-md-offset-2, col-md-8, col-md-offset-2">
        <h4>List of doctors at this practice</h4>

        {% for doctor in clinic.doctors.all %}
            <h5><a href="{% url 'practice_details' doctor.id  %}"> {{ doctor }}</a></h5>
        {% endfor %}
    </div>
</div>
{% endblock %}


