{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <title>ConnectDoc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
</head>
<body>
<!-- Fixed masthead -->
<header class="container-fluid ">
    <div class="container">
        <div id="header-details " class="row ">
                <div class="col-sm-12 ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %} ">Patients</a>
            <a class="navbar-brand" href="{% url 'index' %} ">Doctors</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">New Post</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span><img src="{{ MEDIA_URL }}{{ request.user.profile.image }}"
                                                        style="width:25px; height: 25px; background-color: #12ABB2; color: #ffffff;"
                                                        class="img-circle"></span> Account <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            <li><a href={% url 'profile' %}>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href={% url 'logout' %}>Log Out</a></li>
                            
                            {% else %}

                            <li> <a href={% url 'login' %}>Log In</a></li>
                            <li><a href={% url 'register' %}>Register</a></li>
                            {% endif %}

                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

        
<div id="masthead">
    <div class="container">
        <div class="row">
            <div class='col-md-offset-3 col-md-7'>
            <h2> Where Doctors & Patients connect </h2>
            </div>

              <div class='col-md-offset-4 col-md-6'>
            <p id="logo" class="lead">Book your appointment online</p> 
            </div>  
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

        
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class='row'>
            <div class='col-md-offset-4 col-md-4'>
        <form action="{% url 'search' %}" method="get" style="margin: 0">
            <input id ="search_box" type='text' name="search_box" placeholder="Search Clinic, Doctor, Location... ">
            <button type="submit">Search</button>
        </form>
        </div>
        </div>

        {% block content %} {% endblock %}
    </div>

<footer>
    <div id="footer">
 <div class="navbar-fixed-bottom">
    <div class="container">

        <div id="footer-details " class="row ">
                <div class="col-sm-4 ">
                <h5 class="uppercase general-sub ">Patients</h5>
                <ul class="list-inline social-links ">
                <p class="inline-block ">
                    Get an appointment with your Doctor online.
                </p>
                <li><a href="#" target="_blank"><img src="#" alt="" /></a></li>
	            <li><a href="#" target="_blank"><img src="#" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="#" alt="" /></a></li>
                 </ul>
            </div>
          
            <div class="col-sm-4 ">
                <h5 class="uppercase general-sub ">Doctors</h5>
                <p class="inline-block ">
                    Patients are important
                    <a href="#"><i class="fa-search" aria-hidden="true "></i></a>
                </p>
            </div>
            <div class="col-sm-4 ">
                <h5 class="uppercase general-sub ">Find us on</h5>
                <ul class="list-inline social-links ">
                    <li><a target="_blank " href="# "><i class="fa fa-facebook "></i></a></li>
                    <li><a target="_blank " href="# "><i class="fa fa-twitter "></i></a></li>
                    <li><a target="_blank " href="# "><i class="fa fa-linkedin "></i></a></li>
                    <li><a target="_blank " href="# "><i class="fa fa-instagram "></i></a></li>
                    <li><a target="_blank " href="# "><i class="fa fa-youtube "></i></a></li>
                </ul>
            </div>
            					<p>Copyright &amp;© 2017 ConnectDoc Online </p>

        </div>
        </div>
    </footer>
	
</body>
</html>